{% comment %}
  Accepts:
  - product: {Object} Product Liquid object (optional)

  Usage:
  {% render 'payment-price', product: card_product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  elsif placeholder
    assign target = null
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false
  assign money_price = price | money
  assign money_price_min = price_min | money
  assign money_price_max = price_max | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif

  assign qtd_parcelas = settings.parcelas | default: 6
  assign valor_parcela = price | divided_by: qtd_parcelas | money

  assign texto_parcelamento = settings.parcelamento_texto
  assign texto_parcelamento = texto_parcelamento | replace: '[parcelas]', qtd_parcelas | replace: '[valor_parcela]', valor_parcela
-%}

{%- unless target == null and placeholder == null -%}
  <div class="installment text-[10px] md:text-[14px] text-neutral-800 {% if custom_class %}{{ custom_class }}{% endif %}">
    {{ texto_parcelamento }}
  </div>
{% endunless %}
